<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Check out your stats</h1>
    <p>Which of your stats would you like to take a look at?</p>
    <form action="/postStats" method="post">
        <button type = "submit" class = "button" value= "activity" name = "stat_clicked" >Activity (Steps, Calories)</button>
        <button type = "submit" class = "button" value= "sleep" name = "stat_clicked" >Sleep</button>
        <button type = "submit" class = "button" value= "weight" name = "stat_clicked" >Weight</button>
    </form>

    {% if generated_stats %}
        <h1> Here are your Stats!</h1>
        <img src="{{ url_for('generatedStats', filename=generated_stats) }}" alt="Generated Photo">
        <button class="button" onclick="openPage('/')">Back to homepage</button>
    {% else %}
        <p>No stats generated yet.</p>
    {% endif %}
    
</body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>